.cart{
    cursor: pointer;
    font: inherit;
    color:inherit;
    position: relative;
    left:700px;
    margin: 5px;
    display: inline-block;
    border-radius: 25px;
    border: none;
    background: #4d1601;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
}


button:hover,
button:active {
  background: #2c0d00;
}

i,button{
    vertical-align: middle !important;
}

.cart-value{
    background-color: #a61a00;
    display: inline-block;
    border-radius: 15px;
    margin : 10px;
    margin-right: 0;
    padding:5px 20px;
    text-align: center;
}


button:hover .cart-value,
button:active .cart-value {
  background: #92320c;
}