.cartList{
    color: black;
    display: flex;
    justify-content: space-around;
}

.cartList .price, .removeAction,.item{
    margin: 0.3rem;
    border-bottom: solid 1px black;
    padding-bottom: 0.3rem;
    width: 7rem;
    text-align: left;
    font-weight: bold;
}
.item{
    display: flex;
    justify-content: space-around;
    /* border-bottom: solid 1px black; */
}

.img{
    width:3rem;
    height: 3rem;
    margin-right: 0.2rem;
}
.removeAction{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.removeAction input{
    width: 2rem;
    margin-right: 0.2rem;
    padding: 0.2rem;
    border-color: skyblue;
}

.removeAction button{
    width:4rem;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
    background-color:red;
    color:white;
    border: none;
    padding: 0.2rem 0.5rem 0.2rem;
    border-radius: 0.2rem;
}
