.row:hover{
    cursor: pointer;
    border:1px solid black;
}

.row{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.mailBox{
    text-decoration: none;
    color:black;
}

a{
    padding: 0px;
    display: inline;
}