* {
    box-sizing: border-box;
  }
.form-content{
    width: 100%;
    margin: auto;
    float: left;
}

input{
    width: 100%;
    margin:auto;
}

label{
    font-weight: bold;
}

label,input{
    margin-bottom: 3px;
}


