.switch{
    text-align: center;
    width: 30%;
    margin: auto;
}

.authForm{
    /* position : fixed; */
    width: 30%;
    margin: auto;
    border:1px solid grey;
    padding: 1rem;
    margin-top: 2rem;
}

.switchAuth{
    background-color: transparent;
    background-color: rgb(206, 177, 177);
    border:1px solid grey;
}

.authButton{
    background-color: rgb(204, 66, 66);
    border-radius: 1rem;
    color:white;
    border:1px solid rgb(204, 66, 66);
}

.authButton,.switchAuth{
    padding: 0.5rem 1rem 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
}

.spinner{
    position: absolute;
    top: 30%;
    left:45%;
    margin: auto;
}