.resetPswdForm{
    width: 40%;
    margin: auto;
    position: fixed;
    top:30%;
    left:30%;
    color: white;
}

.form{
    width: 100%;
    background-color: black;
    padding: 1rem;
}

.resetButton{
    background-color: rgb(196, 89, 89);
    border:1px solid rgb(196, 89, 89);
    color:white
}