.header{
    color: rgb(204, 66, 66);
    background-color: black;
}

.header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

.header ul li{
    font-weight: bold;
}