ul{
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 1rem;
}
.title{
    font-weight: bold;
    font-size: 1.3em;
}
.desc{
    font-style: italic;
}
.price{
    color:#8a2b06;
    font-weight: bold;
}
.meals_item{
    display: flex;
    justify-content: space-between;
    padding: 0;
}