.li{
    list-style:none;
    border-bottom: 1px solid grey;
    padding-bottom: 0.5rem;
}

.table-row{  
    display:table-row;
    text-align: center;
}
.col{ 
   display:table-cell;
 }

.expense{
    margin:0.5rem;
    border: 1px solid rgb(196, 89, 89);
    background-color: rgb(196, 89, 89);;
    color : white;
} 

.spinner{
    position: absolute;
    top: 30%;
    left:50%;
    margin: auto;
}

