label,input{
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom:0.5rem;
}

.contactForm{
    width: 40%;
    margin: auto;
    margin-top:1rem;
    border:3px solid skyblue;
    padding: 1rem;
    /* align-items: center; */
}

.submit{
    background-color: skyblue;
    padding: 0.3rem 1rem 0.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
}
