.items{
    width: 40%;
    margin: 1rem;
}
.cart_action{
    background: rgb(39, 141, 182);
    color:white;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    font-weight: bold;
}