.items{
    width: 40%;
    margin: 1rem;
}
.cart_action{
    background: rgb(39, 141, 182);
    color:white;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.items img:hover{
    transform: scale(1.5);
    /* filter: brightness(130%); */
    transition: 1s;
}

.imgWrapper{
    display: inline-block;
    overflow: hidden;
}

.imgWrapper img{
    height : 15rem;
    width: 15rem;
}